*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
}
.navbar{
    display: block;
    
    /* justify-content: center; */
}
.backimg{
    margin: 0 auto;
}
.backimg img{
    width: 100%;
}

.cards-wi{
    width: 25%;
    display: inline-block;
    /* margin: 0 50px 0 0; */
    margin: 0 50px;
    /* align-items: center; */
}
.text-color{
    color: rgb(128, 128, 122);
    font-size: 25px;
}

.button-wi button{
    margin: 0 8px;
}
.button-wi .abc{
    margin: 0 15px;
}

.product-cards{
    display: inline-block;
    /* margin: 0 10px; */ 
}



